@charset 'UTF-8';

body {
    background-image: radial-gradient(rgb(211, 0, 211) 40%, violet, rgb(123, 204, 231));
    font: normal 1.1em arial;
    height: 97vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

h1 {
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.445);
}

main {
    background-color: white;
    width: 80%;
    padding: 20px;
    border-radius: 10px;
}

#pergunta {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    gap: 10px;
}

#numero {
    padding: 5px;
    flex: 1 1 200px;
}

#btn {
    padding: 5px;
    flex: 1 0 100px;
}

#res {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

p {
    line-height: 0.9em;
}